* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container img {
  width: 150px;
  height: auto;
}

.container {
  background: #ffffff;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  overflow: hidden;
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 100px;
  height: auto;
}

.input-area {
  position: relative;
  margin-bottom: 1.2rem;
}

.input-area i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.input-area input {
  width: 100%;
  padding: 12px 10px 12px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #467bdf;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #3d6cc2;
}